<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huione.im.api.dao.GroupConfigDao">
	<resultMap type="GroupConfig" id="groupConfigMap">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="id"/>
        <result property="groupId" column="group_id"/>
        <result property="groupName" column="group_name"/>
        <result property="userId" column="user_id"/>
        <result property="userPhone" column="user_phone"/>
        <result property="expiredDate" column="expired_date" jdbcType="DATE"/>
        <result property="dissolveType" column="dissolve_type"/>
        <result property="createDate" column="create_date"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    

    <select id="select" resultMap="groupConfigMap" parameterType="GroupConfig">
        select id,group_id,group_name,user_id,user_phone,
        		date_format(expired_date,'%Y-%m-%d') expired_date,dissolve_type,
        		create_time,update_time
        from im_group_config   
        <where>
        	<if test="userPhone != null and userPhone != ''">
        		user_phone=#{userPhone}
        	</if>
        	<if test="groupIds != null and groupIds != ''">
        		and group_id in 
	        	<foreach collection="groupIds" index="index" item="item" open="(" separator="," close=")">  
			        #{item}  
			    </foreach>   
        	</if>
        </where> 
    </select>
    
    <insert id="save" parameterType="GroupConfig">
    	insert into im_group_config(id, group_id, group_name, user_id, user_phone, expired_date, dissolve_type)
    	values(#{id},#{groupId},#{groupName},#{userId},#{userPhone},#{expiredDate},#{dissolveType} )
    </insert>
    
    <update id="update" parameterType="GroupConfig">
    	update im_group_config
    	<trim prefix="set" suffixOverrides=",">
		  <if test="groupName!=null">group_name=#{groupName},</if>
		  <if test="expiredDate!=null">expired_date=#{expiredDate},</if>
		  <if test="dissolveType!=null">dissolve_type=#{dissolveType},</if>
		 </trim>
		 where group_id=#{groupId} 
		  and  user_phone=#{userPhone}
    </update>
    
    <delete id="delete" parameterType="GroupConfig">
    	delete from im_group_config where group_id=#{groupId} and user_phone=#{userPhone}
    </delete>
</mapper>